.learn_more_wrapper {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  padding: 6.25rem;
  width: 100vw;
  max-width: 100vw;
  font-family: "Red Rose", cursive;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #learn_more_btn {
    padding: 14px 33px;
    border-radius: 8px;
    color: #a02279;
    border: none;
    outline: none;
  }
}
.learn_more_child_one{
width: 50%;
}
.learn_more_head {
  font-weight: 700;
  font-size: 3rem;
  line-height: 60px;
}
.learn_more_info {
  font-size: 1.125rem;
  line-height: 35px;
  width: 100%;
  margin: 2rem 0 3rem 0;
}
.learn_more_child_two {
  width: 704px;
}
@media screen and (max-width:1200px ) {
  .learn_more_wrapper{
    padding:3rem 2rem;
  }
  .learn_more_child_two{

    width: 50%;
    .learn_more_img{
      width: 100%;
    }
  }
}
@media screen and (max-width:550px){
  .learn_more_wrapper{
    flex-direction: column;
    gap: 2rem;
  }
  .learn_more_child_two,.learn_more_child_one{
    width: 100%;
  }
  .learn_more_child_one{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .learn_more_head,.learn_more_info{
    text-align: center;
  }
}
